{% extends 'base.html.twig' %}

{% block title %}Hello Symfony with Vue!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

<div class="">
    <div id="app">
{#        {% verbatim %}#}
        <span>Variable: ${ name }</span><br>
        <span>Methods: ${ showName() }</span>
{#        {% endverbatim %}#}
        <div class="">
            <a v-bind:href="href" v-bind:style="customStyle">Vue Docs</a> <br>
            <p v-html="html"></p>
        </div>
        <h4>Number Increment Decrement</h4>
        <div>
            <button @click="decrement($event, 1);">-1</button>
            <button @click="decrement($event, 2);">-2</button>
            <input type="text" v-bind:value="number">
            <button v-on:click="increment($event, 1);">+1</button>
            <button v-on:click="increment($event, 2);">+2</button>
        </div>
        <h4>Input on chnage value show</h4>
        <div>
            <input type="text" v-model="visitor">
            <p>This is change value: ${ visitor }</p>
        </div>
        <div class="mouseEventHandler">
            <h4>Event Handler</h4>
            <form @submit.prevent="handleFormSubmit">
                <input type="text" @keyup="handleKeyup">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}